* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(105, 144, 148, 0.811);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    margin: 3.125rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(105, 144, 148, 0.811);
}

nav {
    display: flex;
    justify-content: center;
    padding: 5.6rem;
    width: 100%;
    margin-top: 25rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    font-size: 1.8rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 2rem;
}

.navbar li {
    margin-right: 1.5rem;
}

.titulo h1 {
    margin-top: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(250, 235, 215, 0.755);
}

.titulo h2 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 8rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.imagen-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.755);
    padding: 2rem;
    margin-top: 2rem;
}

.imagen-titulo h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Montserrat', sans-serif;
}

.caja1 {
    background-color: rgba(250, 235, 215, 0.755);
    margin: 2rem;
    padding: 2rem;
    border: 1px black solid;
    text-align: center;
    align-items: center;
}

.caja1 h2 {
    width: 100%;
    color: black;
    padding-block-end: 2rem;
    font-size: 3rem;
}

.caja1 p {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.caja1 ul {
    font-size: 1.5rem;
    text-align: left;
    list-style: none;
}

.caja1 li {
    padding: 2rem;
}

.span li {
    font-size: 30px;
}

.container2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Montserrat', sans-serif;
}

.manos {
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
}

.manos h3 {
    padding: 3rem;
}

.manos img {
    width: 100%;
    height: auto;
}

.manos button {
    margin: 1rem;
    padding: 0.9rem 2.5rem;
    font-size: 1rem;
    background-color: rgb(199, 103, 68);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 144, 148, 0.811);
    padding: 1rem;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos a {
    display: inline-block;
    margin: 0 0.5rem;
}

.iconos img {
    width: 32px;
    height: 32px;
}
