

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-principal;
    padding: 1rem;
  }
  
  .iconos {
    display: flex;
    justify-content: center;
    align-items: center;

  a{
    display: inline-block;
    margin: 0 0.5rem;
    }

  img {
    width: 5rem;
    height: 5rem;
    }
  }
  
  