    header {
        @include flex;
        padding-bottom: 2rem;
        font-family:$font-principal;
        background-color: $color-principal;
    }

    .encabezado {
        margin-top: 3rem;
    }

    nav {
        display: flex;  
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .navbar {
        @include flex;
        list-style: none;
        padding: 0rem;
        font-size: 2rem;
        width: 100%;

    a {
        text-decoration: none;
        color: white;
        padding: 2rem;
    }

    li {
        margin-right: 1.5rem;
    }
}